{% extends 'base.html' %}

{% block title %}My Bookings - MotoMatch{% endblock %}

{% block content %}
    
        <h2>My Bookings</h2>
        <p>View your past and current booking requests.</p>
   

    <section>
        {% if bookings %}
            <ul>
                {% for booking in bookings %}
                    <li>
                        <h3>{{ booking.service.name }}</h3>
                        <p>Car: {{ booking.service_item.description }} - {{ booking.service_item.identifier }}</p>
                        <p>Time: {{ booking.time }}</p>
                        <p>Status: {{ booking.status }}</p>
                        <p> My Notes: {{ booking.client_notes }}</p>
                        <p>Owner Notes: {{ booking.service_provider_notes }}</p>
                        {% if booking.status == 'approved' and booking.service not in reviewed_services %}
                            <a href="{% url 'add_review' booking.service.id %}">leave a review</a>
                            
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No booking history found.</p>
        {% endif %}
    </section>
{% endblock %}
