{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home - MotoMatch
{% endblock %}

{% block content %}
    
    <h2>Welcome to MotoMatch</h2>
    <p>Find the perfect place for your car!</p>

    <h2>Featured Garages</h2>
    {% if services_and_rates %}
    <section>
        {% for service, rate_info in services_and_rates %}
        <article>
            <h3>{{ service.name }}</h3>
            <p>{{ service.description }}</p>
            <p>Location: {{ service.location }}</p>
            <p>Available Spaces: {{ service.available_spaces }}</p>
            <p>Rate: {{ rate_info.0 }}</p>
            <p>Rated By: {{ rate_info.1 }} users</p>
            <a href="{% url 'service_detail' service.id %}">View Details & Book</a>
        </article>
    {% endfor %}
        
            
        
    </section>
    {% else %}
        <p>No featured garages available.</p>
    {% endif %}
    

    
{% endblock %}
