{% extends 'base.html' %}

{% block title %}
    Reviews - Garages Reviews
{% endblock title %}
    
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage Reviews</title>
</head>
<body>
    <h1>Reviews about {{ service_name }}</h1>
    <h2>My Reviews</h2>
    <ul>
        {% for review in user_reviews %}
            <li>
                <strong>Rating:</strong> {{ review.rating }}<br>
                <strong>Review:</strong> {{ review.review }}<br>
            </li>
            <!--delete button-->
            <form method="post" action="{% url 'delete_review' review.id %}">
                {% csrf_token %}
                <button type="submit" class = "small_button">Delete Review</button>
            </form>
        
        {% endfor %}
    </ul>
    <h2>All Reviews</h2>
        {% for review in reviews %}
            {% if review.user != user %}
                
            <h3>{{ review.user.username }}</h3>
                <strong>Rating:</strong> {{ review.rating }}<br>
                <strong>Review:</strong> {{ review.review }}<br>
            
            {% endif %}
        {% empty %}
            <li>No reviews available.</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}